* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgba(90,90,90,0.2);
}

h1 {
	font-size: 50px;
	text-align: center;
	border: 2px solid rgba(90,90,90,0.8);
	cursor: pointer;
	font-family: 'Amatic SC', cursive;
	text-decoration: line-through;
}

#sec9 {
	border: 2px solid rgba(90,90,90,0.8);
	list-style: none;
	padding: 0px 90px 0px 90px;
}
#sec9 ul li{
	display: inline-block;
	margin-left: 100px;
}
#sec9 ul li button{
	width:200px;
}

#sec5{
	font-size: 30px;
	text-align: center;
	cursor: pointer;
	font-family: 'Special Elite', cursive;
}

#sec6 {
	font-size: 30px;
	text-align: center;
	color: blue;
	font-family: 'Special Elite', cursive;
}

#sec7 {
	line-height: normal;
	text-align: center;
}

/*h2:hover {
	font-size: 50px;
	color:blue;
}*/

#sec8 {
	width: 100%;
 	padding: 12px 20px;
 	margin: 8px 0;
 	display: inline-block;
 	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

p {
	font-family: 'Handlee', cursive;
}

